<div class="flex-grid">
  <div class="col">
    <div class="alert"
      *ngIf="isUserExist">
      User already exist
    </div>
    <form novalidate [formGroup]="addUserForm" (ngSubmit)="submit()">
        <div class="form-group">
            <label>Name:</label>
            <input class="form-control" name="name" formControlName="name" />
             
            <div class="alert"
                *ngIf="addUserForm.controls['name'].invalid && addUserForm.controls['name'].touched">
                Incorrect name
            </div>
        </div>
        <div class="form-group">
            <label>Email:</label>
            <input class="form-control" name="email" formControlName="email" />
      
            <div class="alert"
                *ngIf="addUserForm.controls['email'].invalid && addUserForm.controls['email'].touched">
                Incorrect email
            </div>
        </div>
        <div class="form-group">
            Type of subscribtion:
            <select name="type" formControlName="type">
              <option *ngFor="let type of types" [ngValue]="type">{{type.name}}</option>
            </select> 
        </div>
        <div class="form-group">
            <button>
                Add
            </button>
        </div>
    </form>
    <button (click)="clear()">Clear</button>
  </div>
  <div class="col">
    <table>
      <thead>
        <tr>
          <th>Id</th>
          <th>Email</th>
          <th>Name</th>
          <th>Date of subsribtion</th>
          <th>Type of subscribtion</th>
          <th>Action</th>
      </thead>
      <tbody>
        <tr *ngFor="let user of users; let i = index;">
          <td>{{user.id}}</td>
          <td>{{user.email}}</td>
          <td>{{user.name}}</td>
          <td>{{user.date | date: 'medium'}}</td>
          <td>{{user.type.name}}</td>
          <td><button (click)="deleteUser(i)">Delete</button></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
