.flex-grid {
    display: flex;
  }
  .col {
    flex: 1;
  }

@media (max-width: 1024px) {
  .flex-grid {
      display: block;
  }
}

.alert {
  color: red;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}
table tr {
  border: 1px solid #ddd;
  padding: .35em;
}
table th,
table td {
  padding: .425em;
  text-align: center;
}
@media screen and (max-width: 300px) {
  table {
    border: 0;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
}